<html>

<head>
    <title>Email Parser Test</title>
</head>

<body>
        <h1>Email Parser Test</h1>
	
	<p><b>The message is:</b>
            <br>{{tempString}}</p>
	
	<p>These are the projects added:<br>
        <ul>
        {% for project in startingPros %}
            <li>{{ project }}</li>
        {% endfor %}
        </ul></p>
        
        <p>These are the projects in progress: <br>
        <ul>
        {% for project in doingPros %}
            <li>{{project}}</li>
        {% endfor %}
        </ul></p>

        <p>These are the projects that are finished: <br>
        <ul>
        {% for project in donePros %}
            <li>{{project}}</li>
        {% endfor %}
        </ul></p>

        <p>These are the projects that have been paused: <br>
        <ul>
        {% for project in pausePros %}
            <li>{{project}}</li>
        {% endfor %}
        </ul></p>
</body>
</html>
